services:
  api-gateway:
    build: ./services/api-gateway
    container_name: api-gateway
    ports:
      - "3000:3000"

  auth-service:
    build: ./services/auth-service
    container_name: auth-service
    ports:
      - "3001:3001"

  orders-service:
    build: ./services/orders-service
    container_name: orders-service
    ports:
      - "3002:3002"

  notifications-service:
    build: ./services/notifications-service
    container_name: notifications-service
    ports:
      - "3003:3003"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3006:3000"
    depends_on:
      - prometheus
